* {
 -webkit-box-sizing:border-box;
 box-sizing:border-box
}
html {
 font-size:8px;
 line-height:1.25;
 color:#212121
}
body {
 margin:0;
 padding:0;
 width:120rem
}
.body--preview {
 height:169.71429rem;
}
.body--preview .preview-box {
 margin-top:10.5rem;
 margin-bottom:6rem;
 height:157.71429rem;
 overflow:hidden
}
.body--share {
 height:100%;
 overflow:hidden
}
.body--share .preview-box {
 margin-top:6rem;
 margin-bottom:6rem;
}
.body--markup {
 background:#e4eaf0;
 margin:0 auto;
 width:calc(120rem + 70px);
 padding:35px
}
.body--markup .preview-box {
 -webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.05);
 box-shadow:0px 0px 20px rgba(0,0,0,0.05);
 background:white;
 padding-top:6rem;
 padding-bottom:6rem
}
@font-face {
 font-family:'crimson_text';
 src: url("./fonts/crimson_text.ttf");
 font-weight:normal;
 font-style:normal;
}
@font-face {
    font-family:'crimson_text';
    src: url("./fonts/crimson_text_italic.ttf");
 font-weight:normal;
 font-style:italic;
}
@font-face {
 font-family:'crimson_text';
 src: url("./fonts/crimson_text_bold.ttf");
 font-weight:bold;
 font-style:normal;
}
@font-face {
 font-family:'crimson_text';
 src: url("./fonts/crimson_text_italic_bold.ttf");
 font-weight:bold;
 font-style:italic;
}
body {
 font-family:'crimson_text', serif;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
a {
    color:rgb(0, 0, 156);
}
.container {
 position:relative;
 display:block;
 max-width:120rem;
 font-size:1.7rem;
 padding:0rem 9rem
}
.top-block {
 width:60rem;
 margin:0 auto 2.3rem;
 text-align:center
}
.top-block__name {
 font-size:5rem;
 line-height:1;
 font-weight:bold;
 text-decoration: underline;
}
.top-block__name>span {
 margin-right:0.3rem
}
.top-block__position {
 font-size:3.3rem;
 font-weight:bold;
 margin-top:3.6rem
}
.top-block__address {
 font-size:2rem;
 font-weight:500;
 margin-top:5rem
}
.prologue {
 margin-bottom:0.3rem
}
.prologue:after {
 content:"";
 display:table;
 clear:both
}
.prologue__row {
 float:left;
 width:50%;
 font-size:2rem;
 font-weight:bold
}
.prologue__row--email {
 text-align:right
}
.prologue__row--phone {
 text-align:left
}
.section__header {
 text-align:center;
 background-color:#f2f2f2;
 padding:1.5rem 0
}
.section__header-label {
 border-bottom:0.15rem solid black;
 font-size:2.4rem;
 display:inline-block;
 line-height:2.4rem
}
.section__header-label>span {
 text-transform:uppercase;
 margin-right:0.3rem;
 font-weight:bold;
 letter-spacing: 2px;
}
.section__content {
 padding:2.5rem 0.3rem
}
.separator {
 height:0.5rem;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 border-top:0.2rem solid black;
 border-bottom:0.1rem solid black;
 margin-top: 2rem;
}
.separator--personal {
 margin-bottom:2rem
}
.details__row {
 margin-bottom:1.2rem
}
.details__row:after {
 content:"";
 display:table;
 clear:both
}
.details__row:last-child {
 margin-bottom:0
}
.details__column {
 width:48%;
 float:left;
 position:relative
}
.details__column:after {
 content:"";
 display:table;
 clear:both
}
.details__column:not(:last-child) {
 margin-right:4%
}
.details__dots {
 position:absolute;
 top:0;
 left:0;
 right:0;
 height:2.6rem;
 line-height:2.3rem;
 z-index:-1;
 overflow:hidden
}
.details__label {
 float:left;
 width:70%;
 font-size:1.8rem
}
.details__label>span {
 background-color:white;
 padding-right:1rem;
 font-size: 1.8rem;
}
.details__label>.bold {
 padding-right:0.5rem;
 font-weight:bold;
}
.details__value--link {
 color:inherit;
 overflow-wrap:break-word;
 word-wrap:break-word;
 word-break:break-all;
 word-break:break-word
}
.details__value {
 float:right;
 text-align:right;
 font-size:1.7rem;
}
.details__value>span {
 background-color:white;
 padding-left:5px;
 font-size:1.9rem
}
.socials,
.section__description {
 width:94%;
 margin:0rem auto;
 text-align:center;
 font-size:2rem;
 line-height:2.5rem
}
.socials ul,
.socials li,
.section__description ul,
.section__description li {
 list-style-position:inside
}
.socials {
 /* font-style:italic; */
 font-size: 2.2rem;
 display: flex;
 justify-content: space-evenly;
 color:inherit
}
.socials__link {
 color:rgb(0, 0, 156);
 font-weight:bold
}
.experience {
 min-height:4.4rem;
 margin-bottom:1.8rem
}
.experience:last-child {
 margin-bottom:0
}
.experience__line {
 position:relative
}
.experience__line:after {
 content:"";
 display:table;
 clear:both
}
.experience__dots {
 position:absolute;
 top:0;
 left:0;
 right:0;
 height:2.6rem;
 line-height:3rem;
 z-index:-1;
 overflow:hidden
}
.experience__title {
 width:66%;
 float:left;
 font-size:1.8rem;
 font-weight:bold
}
.experience__title>span {
 background:white;
 padding-right:1rem
}
.experience__title--reference {
 font-size:1.8rem
}
.experience__date {
 width:33%;
 float:right;
 text-align:right;
 font-size:1.8rem;
 position:relative;
 padding-top:0.4rem
}
.experience__date>span {
 background-color:white;
 padding-left:1rem
}
.experience__extra {
 position:absolute;
 font-size:2rem;
 top:2.8rem;
 right:0;
 text-align:right
}
.experience__description {
 width:80%;
 font-size:1.9rem;
 margin-top:1rem;
 line-height:2.5rem
}
.experience__description ul,
.experience__description ol {
 margin:0.8rem 0;
 list-style-position:outside;
 padding-left:5rem
}
.experience__subtitle {
 width:80%;
 font-style:italic;
 font-size:1.8rem;
 margin-top:0.5rem
}
.language__label{
font-size: 2rem;
font-weight: bold;
}
footer{
    position: absolute;
    top: 108%;
    font-style: italic;
    font-size:1.4rem;
}